extends ../layout

block content
	.row-fluid
		.span6
			h3 Groups
			table.table.table-hover
				thead
					tr
						th Name
						th Edit
						th
						th Delete
				tbody
					if groups
						for group in groups
							tr
								td
									b #{group.groupInformation.affiliation}
									br
									small #{group._id}
								td 
									.btn-group
										a.btn.btn-primary(href="/admin/login/#{group._id}") Login
										a.btn.btn-info.notes(data-id="#{group._id}", href="#groupNotes", data-toggle="modal") Notes
										a.btn.btn-inverse(href="/admin/payments?group=#{group._id}") Payments
								td
								td
									a.btn.btn-danger(href="/api/removeGroup/#{group._id}") Delete
						tr
							td
								a(href="/account/signup") Add a new group...
							td
								small This will log you out!

	.modal.hide.fade#groupNotes(tabindex='-1', role='dialog', aria-hidden='true')
		include elements/groupNotes.jade

	!= js('admin/main')