extends ../layout-letter

block content
	.row-fluid
		img.qr( src="https://chart.googleapis.com/chart?cht=qr&chl=http://gatheringourvoices.bcaafc.com/admin/checkIn/#{group._id}&choe=UTF-8&chs=200x200")
		h1 Gathering Our Voices
		h2 Group: #{group.groupInformation.affiliation}
		h3 Primary Contact: #{group.primaryContact.name}
		hr
		// Print pages only have an 8 span.
		.row-fluid
			.span5
				h3 Group Information
				address
					strong #{group.primaryContact.name}
					br
					strong #{group.groupInformation.affiliation}
					br
					| #{group.groupInformation.address}
					br
					| #{group.groupInformation.city}, #{group.groupInformation.province}
					br
					| #{group.groupInformation.postalCode}
					br
					br
					| #{group.primaryContact.phone}
					br
					| #{group.groupInformation.fax}
					br
					| #{group.primaryContact.email}

		.row-fluid
			h2 Member List
			hr
			for member in group.groupMembers
					.row-fluid(style="position: relative; left: 50px;")
						h3= member.name
						.span5
							h5 Basic Info
							table.table.table-condensed
								tbody
									tr
										td Type
										td= member.type
									tr
										td Gender
										td= member.gender
									tr
										td Phone
										td= member.phone
									tr
										td Email
										td= member.email
									tr
										td Ticket Price
										td= member.ticketPrice
									tr
										td Reg. Date
										td= member.regDate.toLocaleDateString()
									tr
										td
										td
						.span5
							h5 Emergency Info
							table.table.table-condensed
								tbody
									tr
										td Name
										td= member.emergencyInfo.name
									tr
										td Relation
										td= member.emergencyInfo.relation
									tr
										td Phone
										td= member.emergencyInfo.phone
									tr
										td Medical Number
										td= member.emergencyInfo.medicalNum
									tr
										td Allergies
										td= member.emergencyInfo.allergies
									tr
										td Conditions
										td= member.emergencyInfo.conditions
									tr
										td
										td
						.span10
							h5 Workshops
							table.table.table-condensed
								thead
									tr
										th Name
										th Session
										th Venue
										th Room
										th Day
										th Starts
										th Ends
								tbody
									for workshop in workshops
										if member.workshops.indexOf(workshop._id) != -1
											tr
												td= workshop.name
												td= workshop.session
												td= workshop.venue
												td= workshop.room
												td= workshop.day
												td= workshop.timeStart.toLocaleTimeString()
												td= workshop.timeEnd.toLocaleTimeString()
	:coffeescript
		$ ->
			window.print()