.row-fluid
	.span6
		h3 Group Information
		b Affiliation: 
		| #{group.groupInformation.affiliation}
		br
		b Address: 
		| #{group.groupInformation.address}
		br
		b City: 
		| #{group.groupInformation.city}
		br
		b Province: 
		| #{group.groupInformation.province}
		br
		b Postal Code: 
		| #{group.groupInformation.postalCode}
		br
		b Fax:
		| #{group.groupInformation.fax}

	.span6
		h3 Primary Contact Information
		b Name: 
		| #{group.primaryContact.name}
		br
		b Email: 
		| #{group.primaryContact.email}
		br
		b Phone: 
		| #{group.primaryContact.phone}

.row-fluid
	.span6
		h3 Group Status
		b Youth Attending: 
		| #{group.youth.length}
		br
		b Young Adults Attending: 
		| #{group.youngAdults.length}
		br
		b Chaperones Attending: 
		| #{group.chaperones.length}
		br