.row-fluid
	.span6
		h3 General Info
		b Name: 
		| #{member.name}
		br
		b Type: 
		| #{member.type}
		br
		b Birth Date: 
		| #{member.birthDate}
		br
		b Gender: 
		| #{member.gender}
		br
		b Phone: 
		| #{member.phone}
		br
		b Email: 
		| #{member.email}

		h3 Workshops Attending
		p <To be done>

	.span6
		h3 Emergency Info
		b Medical Number: 
		| #{member.emergencyInfo.medicalNum}
		br
		b Allergies: 
		| #{member.emergencyInfo.allergies}
		br
		b Conditions: 
		| #{member.emergencyInfo.conditions}

		h3 Emergency Contact
		b Name: 
		| #{member.emergencyInfo.name}
		br
		b Relation: 
		| #{member.emergencyInfo.relation}
		br
		b Phone: 
		| #{member.emergencyInfo.phone}
.row-fluid
	hr
	.span5
		a.btn.btn-danger#removeUser(href="/api/removeMember/#{member.type}/#{member.name}/#{member._id}") Permanently Remove #{member.name}
		br
		small There is no undo! Be careful!