form.form-horizontal.row-fluid(action="/api/editMember", method='post')
	div(style="display: none")
		input(type='text', name='id', required, value="#{member._id}")
		input(type="text", name="type", required, value="#{member.type}")
	// Member Info
	fieldset
		legend Member Info
		.control-group
			label.control-label Name
			.controls
				input(type='text', name='member.name', value="#{member.name}")
		.control-group
			label.control-label Type
			.controls
				p #{member.type}
				small Remove and re-add the member to change this!
		.control-group
			label.control-label Ticket Price
			.controls
				p #{member.ticketPrice}
				small Registered on #{member.regDate.toDateString()}
		.control-group
			label.control-label Affiliation
			.controls
				p #{group.groupInformation.affiliation}
		.control-group
			label.control-label Birth Date
			.controls
				input(type='text', name='member.birthDate', value="#{member.birthDate}", data-content="Youth <b>must</b> be fourteen (14) to attend this event. Any delegate seventeen (17) and under <b>must</b> be accompanied by a chaperone.<br> <b>Born After:</b> March 18, 1996 <br> <b>Born before:</b> March 19, 1999")
				br
				small Please use the format yyyy-mm-dd.
		.control-group
			label.control-label Gender
			.controls
				select(name='member.gender')
					option(value="", selected=member.gender == "") Please Select...
					option(value="Male", selected=member.gender == "Male") Male
					option(value="Female", selected=member.gender == "Female") Female
					option(value="Other", selected=member.gender == "Other") Other
		.control-group
			label.control-label Phone
			.controls
				input(type='text', name='member.phone', value="#{member.phone}", data-content="If you're coming to the conference you might want to consider using your cell number, that way we can get in touch with you during the event.")
		.control-group
			label.control-label Email
			.controls
				input(type='text', name='member.email', value="#{member.email}")
		.control-group
			label.control-label Youth In Care
			.controls
				if member.youthInCare
					input(type='checkbox', name="member.youthInCare", checked)
				else
					input(type='checkbox', name="member.youthInCare")

	// Emergency Info
	fieldset
		legend Emergency Info
		.control-group
			label.control-label Medical Number
			.controls
				input(type='text', name='member.emergencyInfo.medicalNum', value="#{member.emergencyInfo.medicalNum}", data-content="This should be your 10-digit CareCard number.<br> If you are unable to provide this information immediately, please ensure that you have the medical number on hand at the conference.")
		.control-group
			label.control-label Allergies
			.controls
				input(type='text', name='member.emergencyInfo.allergies', value="#{member.emergencyInfo.allergies}", data-content="Please enter a list of all allergies. If you have multiple allergies please comma separate them.")
		.control-group
			label.control-label Conditions
			.controls
				input(type='text', name='member.emergencyInfo.conditions', value="#{member.emergencyInfo.conditions}", data-content="Please enter a list of medical conditions for the registrant, if you have multiple conditions to report, please use a comma to seperate them.")
			
	// Emergency Contact
	fieldset
		legend Emergency Contact
		.control-group
			label.control-label Name
			.controls
				input(type='text', name='member.emergencyInfo.name', value="#{member.emergencyInfo.name}", data-content="Please list the phone # of the emergency contact person above who can advise us on medical conditions, doctors or vital information.")
		.control-group
			label.control-label Relation
			.controls
				input(type='text', name='member.emergencyInfo.relation', value="#{member.emergencyInfo.relation}", data-content="For example, 'Mother' or 'Babysitter'")
		.control-group
			label.control-label Phone
			.controls
				input(type='text', name='member.emergencyInfo.phone', value="#{member.emergencyInfo.phone}", data-content="Please list the phone # of the emergency contact person above who can advise us on medical conditions, doctors or vital information.")

	// Submit
	input.btn.btn-primary.btn-block(type='submit', value="Submit Changes on #{member.name}")

	fieldset
		legend Workshops
		if member.workshops.length >= 1
			for workshop in member.workshops
				.control-group
					label.control-label= workshop.name
					.controls
						a.btn.btn-info.btn-small(href="/api/workshop/get?workshop=#{workshop._id}") Get Info
		else
			small.alert This member isn't signed up for any workshops!

	script
			$('input').popover({
				placement: 'right',
				trigger: 'focus',
				html: 'true'
			})