p= member.name
p= member.type
p= member.gender
p= member.birthDate
p= member.phone
p= member.email
h3 Emergency Info
p= member.emergencyInfo.medicalNum
p= member.emergencyInfo.allergies
p= member.emergencyInfo.conditions
h3 Emergency Contact
p= member.emergencyInfo.name
p= member.emergencyInfo.relation
p= member.emergencyInfo.phone